@charset "UTF-8";

@import "./_var.scss";
@import  "./_mixin.scss";


@font-face{
  font-family:'Noto Sans kr';
  font-style:normal;
  font-weight:300;
  src:url('/font_style/font_noto/notokr-regular.eot');
  src:url('/font_style/font_noto/notokr-regular.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'SDKukdetopokki-Lt';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/SDKukdetopokki-aLt00.woff') format('woff');
  font-weight: normal;
}

@font-face {
    font-family: 'CookieRun-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HealthsetBambooStd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/HealthsetBambooStd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Danjunghae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@keyframes glow {
  from {
    text-shadow: 0 0 0px #ccc, 0 0 5px #ccc, 0 0 15px #ccc;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 15px #2c0635, 0 0 20px #2c0635;
  }
}
@keyframes show {
  0% {margin-top:-270px;}
  10% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99% {margin-top:0px;}
  100% {margin-top:-270px;}
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg)
  }
}


//responsive web

@media screen and (max-width : 1280px){

  #myVideo{
          top: 6rem;
    }
    .tab-3-p{
        top: 40%;
    }

}

@media screen and (max-width : 1080px){

}

@media screen and (max-width : 1024px){

  #myVideo{
          top: 5rem;
    }
    .tab-3-p{
        top: 38%;
    }
    .btn-xl {
      font-size: 1.5rem;
      padding: 1.4rem 2rem;
    }
    .text-xl{
      font-size: 1.5rem;
    }
    .text-lg{
      font-size: 1.3rem;
    }
    .text-md{
        font-size: 1rem;
    }

}

@media screen and ( max-width : 920px ){

  .showcase {
    height: 70vh;
  }
  .hide-sm{
    display: none;
  }
  .showcase-top > img {
    top: 30%;
    left: 5%;
    transform: translate(0);
  }
  .showcase-content h1 {
    font-size: 3.7rem;
    line-height: 1;
  }
  .showcase-content p {
    font-size: 1.5rem;
  }
  .footer .footer-cols {
    grid-template-columns: repeat(2,1fr);
  }
  .btn-xl {
    font-size: 1.5rem;
    padding: 1.4rem 2rem;
  }
  .text-xl{
    font-size: 1.5rem;
  }
  .text-lg{
    font-size: 1.3rem;
  }
  .text-md{
      font-size: 1rem;
  }

}

@media screen and (max-width :768px){

  .showcase::after{
    box-shadow: inset 80px 80px 250px #000000, inset -80px -80px 250px #000000;
  }
  #tab-1-content .tab-1-content-inner{
    grid-template-columns: 1fr;
    text-align: center;
  }
  #tab-2-content .tab-2-content-top{
    display: block;
    text-align: center;
  }
  #tab-2content .tab-2-content-bottom{
    grid-template-columns:  1fr;
  }

}

@media screen and (max-width : 620px){

}

@media screen and (max-width : 580px){

}

@media screen and (max-width : 480px){

}

@media screen and (max-width : 420px){

}

@media screen and (max-width :380px){

}

@media screen and (max-width : 360px){

}
@media screen and (max-width : 320px){

}
