@charset "UTF-8";
*{margin: 0; padding: 0;}
ul,ol,dl{list-style: none;}
a{outline: none; color: #fff; text-decoration: none;}
html{font-size: 16px; font-family: 'Noto Sans KR','Noto Sans kr', sans-serif;
      color: #f2b138; background: #000;}

// index_page

header{
  min-width: 99vw;
  position: relative;
  padding-top: 2rem;
}

/* logo & log-in */
#showcase-top{
  position: absolute;
  width: 95%;
  top: 5%;
  left: 5%;
  z-index: 2;

   a {
    display: inline-block;

      > img{
        width: 100%;
        display: inline-block;
        }
        &:hover img {
          opacity: 80%;
        }
    }
   .logo_a{
    width: 7%;
  }
  .btn-rounded{
    position: absolute;
    top: 1rem;
    right: 10%;
    z-index: 2;
  }
}

/* main_banner1 */

#slider_banner{

    .showcase_bg01{
      width: 100%;
      height: 37.5rem;
      background: url('/img/backgroundimg.jpg') center;
      position:relative;
      z-index: 9999;

      &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(0, 0, 0, 0.5);
        box-shadow: inset 3rem 3rem 16rem #000 , inset -3rem -3rem 16rem #000;
      }
    }
  }
.showcase-content{
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 12rem;
  z-index: 2;

    h1{
     font-weight: 700;
     font-size: 4.5rem;
     line-height: 5rem;
     color: #fff;
     }
   p{
     font-family: 'CookieRun-Regular';
     color: #fff;
     font-weight: 400;
     font-size: 1.3rem;
     line-height: 4rem;
     padding: 0.5rem 0;
   }
}
img{
  width: 100%;
  display: block;
}

/* main_banner2 */


  .showcase_bg02{
    width: 100%;
    height: 37.5rem;
    position:relative;
    background: url('/img/backgroundbanner_02.png') center;
    z-index: 9999;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    &::after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: rgba(0, 0, 0, 0.6);
      box-shadow: inset 3rem 3rem 16rem #000 , inset -3rem -3rem 16rem #000;
    }
    .bg_02_content{
      padding-top: 12rem;

      > h1{
        font-size: 3.5rem;
        text-align: center;
      }
    }
  }

/* main_banner3 */

  .showcase_bg03{
    width: 100%;
    height: 37.5rem;
    position:relative;
    background: url('/img/backgroundbanner_03.png') center;
    z-index: 9999;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    &:after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: rgba(0, 0, 0, 0.2);
      /* box-shadow: inset 3rem 3rem 10rem #000, inset -3rem -3rem 16rem #000; */
    }
  }

/* main_banner4 */

  .showcase_bg04{
    width: 100%;
    height: 37.5rem;
    position: relative;

    > img{
      display: block;
      width: 100%;
      height: 100%;
      position:relative;

    &:after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      /* background: rgba(0, 0, 0, 0.2); */
      box-shadow: inset 0rem 1rem 10rem #000, inset -3rem -3rem 5rem #000;
    }
  }
    .bg_04_content{

      position: absolute;
      z-index: 2;
      top: 7%;
      left: 70%;

      p{
        font-size: 1.8rem;
        font-family: 'SDKukdetopokki-Lt';
      }

      .btn-xl{
        font-size: 20px;
        padding: 16px 30px;
      }
    }
  }

// section 01 tabs

.container{
  max-width: 75%;
  margin: auto;
  overflow: hidden;
}

#section_thefirst{
  #tabs{
    background: #151515;
    padding-top: 5px;
    border-bottom: solid  2px #7d7777;

    .container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;
      align-items: center;
      justify-content: center;
      text-align: center;

      > div{
        padding: 1.5rem 0;

        &:hover a{
          color: #f1f1f1;
          cursor: pointer;
        }
      }

      .tab-item{
        > a{
          display: block;
          color: #f2b138;
        }
        .hide-sm {
          font-size: 1.2rem;
          padding-top: 0.5rem;
        }
      }
    }
  }
}

/* Text Styles */

.text-xl {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #fff;
  line-height: 2.8rem;
}
.text-lg {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #fff;
  line-height: 2.5rem;
}
.text-md{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #f2b138;
  line-height: 2.2rem;
}

.text-sm{
  font-size: 1.3rem;
  margin-bottom: 2rem;
  text-align: center;
  margin-left: 2rem;
  display: block;
  line-height: 2rem;
}
.text-xsm{
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  text-align: center;
  display: block;
  line-height: 1.5rem;
}
.text-center {
  text-align: center;
  padding-top: 5rem;
}

.tab-border {
  border-bottom: #f2b138 4px solid ;
}
.text-dark{
  color: #d5d8d9;
  padding-bottom: 2rem;
}
.circle{
  color: #70dc70;
  opacity: 70%;
}
.close{
  color: #ff0000;
  opacity: 70%;
}

// Tab Content

.tab-content {
  background-color: #000;
  color: #fff;

  .tab-content-item{
    border-bottom: solid 5px #f2b13838;
  }

.container{
  .tab-1-content-inner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5rem;
    align-items: center;
    justify-content: center;
    text-align: center;

    > img{
      opacity: 80%;
      padding: 2rem 0;
    }
  }
  .tab-2-content-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    color: #fff;
    text-align: center;

    > a{
      width: 15rem;
      font-size: 1.5rem;
    }
  }
  .tab-2-content-bottom {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .tab-3-content-inner{
    .vr-video_div{
      position: relative;

      #myVideo{
        width: 42%;
        top: 17%;
        position: absolute;
        left: 29%;
        opacity: 90%;
      }
      .TV_fr{
        justify-content: center;
        display: flex;
        width: 55%;
        margin: 0 auto;

        > img{
          display: block;
          width: 100%;
          z-index: 2;
        }
      }
      .tab-3-p{
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        left: 29%;
        width: 41%;
        top: 40%;
        z-index: 2;

        > p{
          text-align: left;
          text-indent: 25px;
          margin: 20px 0;
        }
      }
      .btnfree_third{
        text-align: center;
        margin: 2.5rem;
      }
    }
  }
  .text-center {
    padding-top: 2rem;

    > a{
      margin-bottom: 3rem;
    }
    .text-sm{
      margin-left: 0;
      margin-bottom: 1rem;
    }
  }
}

  #tab-2-content,#tab-4-content{
    background-color: #151515;
  }
}
.wid768{
  display: none;
}

/* Tab Content 4 table */

.table{
  width: 100%;
  margin-bottom: 3rem;
  border-collapse: collapse;
  border-spacing: 0;

  thead{
    th{
      width: 25%;
      text-transform: uppercase;
      padding: 0.8rem;
      width: calc(100% / 4);
    }
  }

  tbody{
    tr{

      &:nth-child(odd){
        background-color: #222;
      }

      td{
        color: #999;
        padding: 0.8rem 1.2rem;
        text-align: center;

        &:first-child {
          text-align: left;
        }

      }
    }
  }
}

/***buttons**/

 .btn{
   display: inline-block;
   background-color: #f2b23a;
   color:  #fff;
   padding: 0.4rem 1.3rem;
   font-size: 1rem;
   text-align: center;
   border: none;
   margin-right: 0.5rem;
   outline: none;
   border-radius: 0.3rem;
   cursor: pointer;

   &:hover{
     opacity: 0.7;
     color: #000;
   }
 }

.btn-xl{
  font-size: 25px;
  padding: 25px 30px;
}
.btn-lg{
  font-size: 15px;
  padding: 30px 30px;
}
.btn-sm{
  width: 15rem;
  font-size: 1.3rem;
}
.btn-xsm{
  width: 15rem;
  font-size: 1.3rem;
  margin-left: 2rem;
}

/* arrows & dots*/
.slick-dots{
  bottom: 25px;

  li{
    button{
      &::before{
        color: #f2b138;
      }
    }
  }
}

.slick-dots li.slick-active button:before {
  color: #d5d5d5;
  opacity: 50%;
}
.slick-prev:before, .slick-next:before{
  color: #f1f1f1;
}

// indexpage_fixed_btn

.fixed_btn_to_main{

  position: fixed;
  bottom: 5%;
  left: 5%;

   ul{

     li{
       display: block;

       &:hover > span{
         display: inline-block;
       }

       >a{
          display: inline-block;
          vertical-align: middle;
          width: 50px;
          height: 50px;
          border-radius: 25px;
          background-color: #e8a82f82;
          color: #f1f1f1;
          font-size: 1.5rem;
          line-height: 3rem;
          text-align: center;
          margin: 0.5rem;

         &:hover{
           background-color: #fff;
           color: #f2b138;
         }
       }

         >span{
           color: #f1f1f1;
           font-size: 0.9rem;
           display: none;
           vertical-align: middle;
           text-indent: 10px;
         }
     }
   }
}

// loginpage

#login_div{
  width: 99vw;
  margin: 0 auto;
  position: relative;

  #showcase-top{
    position: absolute;
    width: 95%;
    top: 5%;
    left: 5%;
    z-index: 2;

    a{
      display: inline-block;
    > img {
      width: 100%;
      display: inline-block;
    }
      }
    a:hover img{
      opacity: 80%;
    }
   .logo_a{
     width: 7%;
   }
   .btn-rounded{
     position: absolute;
     top: 1rem;
     right: 10%;
     z-index: 2;
     display: inline-block;
     background-color: #f2b23a;
     color:  #fff;
     padding: 0.4rem 1.3rem;
     font-size: 1rem;
     text-align: center;
     border: none;
     margin-right: 0.5rem;
     outline: none;
     border-radius: 0.3rem;
   }
  }
}
#bgimg_login{

  width: 100%;
  height: 1000px;
  background: url('/img/bgimg-loginhall.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 3rem 3rem 16rem #000 , inset -3rem -3rem 16rem #000;
  }
  .container_login{
    position: absolute;
    top: 25%;
    left: 38%;
    width: 25%;
    z-index: 5;
  }
}

#account-box{

  border: none;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -khtml-border-radius: 2px;
  -o-border-radius: 2px;
  z-index: 3;
  background: rgba(0, 0, 0 ,0.7);
  padding: 20px;
  text-align: center;


  .logo{

    h1{
      color: #fff;
      padding: 2rem 0;
    }
  }

  .form-signin{
    padding: 1rem 0;

    .form-group{

     input{
      width: 75%;
      height: 2.7rem;
      margin-bottom: 10px;
      background-color: #2f2c2c;
      border-radius: 5px;
      text-indent: 10px;
      color: #fff;
      border-bottom-color: #f2b138;
      outline: none;
    }
  }
  .login_btn{

    .login-btn{
      background-color: #f2b138;
      color: #fff;
      padding: 1rem;
      font-size: 1.1rem;
      width: 75%;
      border-radius: 5px;
      margin: 1rem auto;
      cursor: pointer;
      display: block;
      outline: none;

      &:hover{
        opacity: 80%;
        color: #000;
      }
    }
  }

  .under_btn_small_sen{

    width: 75%;
    margin: 0 auto;

    .checkbox{
      color: #fff;
      display: inline-block;
      font-size: 0.8rem;
      text-align: left;
      width: 48%;
      cursor: pointer;

    input{
        margin-right: 7px;
        vertical-align: middle;
      }
    }
    .forgotLnk{
      display: inline-block;
      font-size: 0.8rem;
      outline: none;
      border: none;
      cursor: pointer;
      color: #fff;
      text-align: right;
      width: 50%;
    }
   }
  }
}
#log_width{

    display: block;
    color: #fbfbfb;
    font-size: 0.8rem;
    text-align: left;
    margin: 15px 0 35px 50px;
    cursor: pointer;
}

#or-box{

  cursor: pointer;
  margin-top: 30px;

  .btn-facebook, .btn-google{
    font-weight : bold;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;

    .img_box_logos{
      width: 100%;
      display: inline-block;

      img{
        display: inline-block;
        vertical-align: middle;
        height: 25px;
        width: 25px;
      }
      .logo_click{
        display: inline-block;
        vertical-align: middle;
        color: #d5d5d5;
        font-size: 13px;
      }
    }
  }
}


.slick-dots{
  top : 100%;
  z-index: 5;
}

// main_concert
.concert{
      height: 100vh;
      width: 98vw;
      position: relative;
      background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.2) 20%,
        rgba(0, 0, 0, 0.2)50%,
        rgba(0, 0, 0, 1) 100%
        ),url('/img/bts_02.gif');
       background-size: cover;
       background-repeat: no-repeat;
     }

     .banner_title_concert{
       font-family: 'Anton', sans-serif;
       font-style: oblique;
       font-size: 5rem;
       color: #f5f5f5;
       animation: glow 1s ease-in-out infinite alternate;
       -webkit-animation: glow 1s ease-in-out infinite alternate;
       -moz-animation: glow 1s ease-in-out infinite alternate;
     }
// 전체메뉴

  #hero{
          width: 100%;
          height: 100%;

          #hder_01{
            display: flex;
            align-items: center;
            padding: 2rem;

         .logo_menu {

           a{
             display: block;

             img{
                   width: 5.8rem;
                 }
           }
           a:hover img{
             opacity: 80%;
           }
         }

        .main_menu{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            margin-left: 50px;
            position: relative;


            .Mmenu-left, .Mmenu-right{
                  display: flex;
                  color: #e5e5e5;

                            > ul{
                              display: flex;
                              align-items: center;

                            >  li{
                                margin-right: 0.9rem;
                                text-align: center;
                                position: relative;

                                a, i{
                                  display: block;
                                  color: #f5f5f5;
                                  text-transform: uppercase;
                                  cursor: pointer;
                                }

                              }


                              .searchBox {
                                background-color: #151515;
                                border-radius: 40px;

                                  &:hover > .searchInput {
                                      width: 150px;
                                      padding: 0 6px;
                                  }
                                  &:hover > i {
                                    color : #f2b138;
                                  }

                                      .searchInput {
                                        border: none;
                                        background: none;
                                        outline: none;
                                        color: #fff;
                                        transition: 0.4s;
                                        width: 0px;
                                        display: inline-block;
                                        vertical-align: middle;
                                        text-indent: 10px;

                                  }
                                  .fa-search{
                                    display: inline-block;
                                    vertical-align: middle;
                                    padding: 1rem;
                                  }
                                }


                             >  li:hover a{
                                    font-weight: 600;
                                    font-size: 0.9rem;
                                  }
                             >  li:hover i{
                                    color: #f2b138;
                                  }

                            >  li:hover #fa-bell_abbox,
                            >  li:hover #fa-heart_abbox {
                              display: block;
                            }
                            }
                            .search_mainbar{
                              display: flex;
                              margin-left: 20px;

                              input{
                                width: 100%;
                                // border: 3px solid #f2b138;
                                border-right: none;
                                padding: 5px;
                                height: 20px;
                                border-radius: 5px 0 0 5px;
                                outline: none;
                                color: #795548;

                              }
                              .searchButton{
                                width: 40px;
                                // height: 36px;
                                // border: 1px solid #f2b138;
                                background: #fdfdfd1f;
                                text-align: center;
                                color: #fff;
                                border-radius: 0 5px 5px 0;
                                cursor: pointer;
                                font-size: 16px;
                                outline: none;
                                border: none;
                              }
                            }
                          }
          }
          }
        }

                    .main_banner{
                        height: 80%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: 50%;
                        margin-left: 2em;

               img{
                    width: 10%;
                    display: block;
                    margin-left: 20px;
                  }

                  .subtitle{

                    color: #fff;
                    line-height: 1.55rem;
                    padding-bottom: 2rem;
              }
            }

  .main_buttons{
    margin-right: 2rem;

      .main_btn {
        color: #fff;
        padding: 0.6rem 2rem;
        margin-right: 0.75rem;
        border-radius: 0.125rem;
        background-color : #ffda7c73;
        font-family: inherit;
        font-size: 100%;
        border: 0;
        outline: none;
        cursor: pointer;

          i{
            font-size: 20px;
            margin-right : 10px;
          }
      }

    .main_btn:hover{
            background-color: #f2b138;
          }
  }



// bell abbox

#fa-bell_abbox{
    position: absolute;
    width: 180px;
    top: 200%;
    right: -79px;
    z-index: 5;
    border-radius: 5px;
    background-color: #4c4b4bc7;
    display: none;
    /* overflow: hidden; */
    transition: 0.7s;

     &:before{
       content: "";
       position: absolute;
       top: -9.5%;
       left: 46%;
       border-left: 12px solid transparent;
       border-right: 12px solid transparent;
       border-top: 14px solid transparent;
       border-bottom: 14px solid #4c4b4bc7;
     }

  .fa_ul{

    display: block;

     li{

       .fa_new_span{

         font-size: 0.7rem;
         display: inline-block;
         line-height: 50px;
         text-shadow:
         0 0 10px #fff;
       }

       .fa_span{
         display: inline-block;
         font-size: 0.7rem;
         line-height: 50px;
         text-indent: 10px;

       }
     }
  }
}
#fa-heart_abbox{
   position: absolute;
    width: 180px;
    top: 200%;
    left: -86px;
    z-index: 5;
    border-radius: 5px;
    background-color: #4c4b4bc7;
    display: none;
    transition: 0.7s;

     &:before{
        content: "";
        position: absolute;
        top: -56.5%;
        left: 46%;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 14px solid transparent;
        border-bottom: 14px solid #4c4b4bc7;
     }
     .fa_ul{

       display: block;

        li{

          .fa_new_span{

            font-size: 0.7rem;
            display: inline-block;
            line-height: 50px;
            text-shadow:
            0 0 10px #fff;
          }

          .fa_span{
            display: inline-block;
            font-size: 0.7rem;
            line-height: 50px;
            text-indent: 10px;

          }
        }
     }
}


#title_popup{
  width: 100%;
  margin: 25px auto;

    .title_popup_span{

      text-align: center;
      font-size: 1.8rem;
      font-family: '양진체';
      color: #fff;
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 100px #f2b138;

    }
}

#poster_detalis_info{
  position: fixed;
  display: none;
  top: 5%;
  bottom: 5%;
  left: 25%;
  width: 50%;
  background-color: #313131;
  color: #ffffff;
  text-align: center;
  z-index: 6;
  // box-shadow: 3px 3px 3px 3px #212121;


  > img{
    display: inline-block;
    width: 25%;
    vertical-align: middle;
  }
  span{
    display: block;
    text-align: right;

    i{
      font-size: 1.5rem;
      margin: 5px 5px 0 0;
      cursor: pointer;
    }
  }
  p{
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    margin: 10px 0 10px 55px;

    .detalis_large{
      display: block;
      font-size: 1.8rem;
      padding: 10px 0;
      font-weight: 600;
      text-align: center;
    }
    .detalis_sm{
      display: block;
      margin-top: 5px;
      text-align: left;
    }

    .beside_smtext{
      display: block;
      margin-top: 10px;
      text-align: left;
    }
  }

  .castmates_bts{
    width: 80%;
    margin: 20px auto;
    text-align: center;

    .castmates_title{
      text-indent: 15px;
      font-size: 1.3rem;
      font-weight: 600;
      line-height: 25px;
      display: block;
      text-align: left;
    }

    .castmates_ul{

      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-gap: 1rem;
      align-items: center;
      justify-content: center;
      text-align: center;

      li{

        img{
          display: block;
          width: 100%;
          border-radius: 10px;
          margin-top : 15px;
          height: 100px;
        }

        span{
          padding: 5px 0;
          text-align: center;
          display: inline-block;
        }
      }
    }
  }
}

#show_imgbox{
          max-width: 90%;
          position: relative;
          padding-top: 2rem;
          margin: 0 auto;

     .imgbox_title{
         display: inline-block;
         font-size: 1.3rem;
         line-height: 1.3rem;
         font-family: '양진체';
         color: #fff;
         text-shadow:
         0 0 10px #fff,
         0 0 20px #fff,
         0 0 100px #f2b138,
         0 0 150px #f2b138;
       }

    .show_live_part{

    .show_slide{

      transition: 0.5s;
      outline: none;

      img{
        display: block;
        width: 85%;
        cursor: pointer;
        margin: 1.5rem;
      }

      &:hover{
        transform: scale(1.1);
    }
  }
 }
}

// musical
.musical{

      height: 40rem;
      width: 100%;
      position: relative;
      overflow: hidden;
      box-shadow: inset 0 5rem 5rem #000;


       #musicalvideo{
         width: 100%;
         position: absolute;
         top: 35px;
         left: 0;
         z-index: -1;
         opacity: 65%;

   }
 }
 .banner_title_musical{
   font-family: 'HealthsetBambooStd';
   font-size: 6rem;
   text-indent: 15px;
   margin: 15px 0;
   color: #fff;
 }


//classical

.classic{

      height: 40rem;
      width: 100%;
      position: relative;
      overflow: hidden;
      box-shadow: inset 0 5rem 5rem #000;

       #classicvideo{
         width: 100%;
         position: absolute;
         top: 35px;
         left: 0;
         z-index: -1;
         opacity: 80%;

 }
}

.banner_title_form{
  font-family: 'Cafe24Danjunghae';
  font-size: 4.8rem;
  text-indent: 15px;
  margin: 15px 0;
  color: #fff;
}


//opera

.opera{

      height: 40rem;
      width: 100%;
      position: relative;
      overflow: hidden;
      box-shadow: inset 0 5rem 5rem #000;


       #operavideo{
         width: 100%;
         position: absolute;
         top: 35px;
         left: 0;
         z-index: -1;
         opacity: 80%;

   }
}

//play

.play{
      height: 40rem;
      width: 100%;
      position: relative;
      overflow: hidden;
      box-shadow: inset 0 5rem 5rem #000;

       #playvideo{
         width: 100%;
         position: absolute;
         top: 35px;
         left: 0;
         z-index: -1;
         opacity: 85%;

 }
}

// ID and PW find
#container_idandpw{

         width: 100%;
         margin: 0 auto;
         text-align: center;
         min-height: 850px;

       .content_intro_idpw{

             margin-top: 150px;

            h3{
              .tt{
                font-family: 'Cafe24Danjunghae';
                display: block;
                font-size: 2.5rem;
                margin: 50px 0;
              }
            }

            .coment_idpw{
                span{
                  color: #565656;
                  display: inline-block;
                  margin-bottom: 50px;
                }
            }
           }

       .id_pw_tabbox{

         position: relative;
         margin: 0 auto;
         width: 50%;
         min-height: 450px;

         .id_pw_ul{

           li{

            width: calc(50% - 10px);
            vertical-align: middle;
            display: inline-block;
            margin: 0 -2px;

             > input{
               display: none;

               &:checked + label + .idpw_abbox{
                 z-index: 5;
               }
               &:checked + label {
                 opacity: 100%;
                 color: #505050;
                 border: solid 2px #b9b9b9;
                 border-bottom: none;
               }
             }
             > label{
               display: block;
               text-align: center;
               cursor: pointer;
               opacity: 60%;
               line-height: 3rem;
               border-radius: 5px 5px 0 0;
               border: solid 1px #b9b9b9;
               font-size: 1.2rem;
               color: #a5a5a5;
               border-bottom: solid 2px #555;
             }

            .idpw_abbox{
              position: absolute;
              width: 100%;
              height: 300px;
              top: 11%;
              left: 0;
              z-index: 1;
              background-color: #fff;

              span {
                display: inline-block;
                width: calc(50% - 20px);
                box-sizing: border-box;
                border: solid 2px #e2e2e2;
                padding: 3rem;
                margin: 3rem 0;

                a{

                  display: block;
                  color: #f2b138;
                  line-height: 50px;
                  font-size: 1.2rem;

                }
                i{
                  font-size: 2rem;
                  color: #929292;
                }
              }
              .maring_span{
                margin-top : 8.3rem;
              }
            }

            .pwababox{

               .idbox_pwab{
                    margin-top : 50px;

                  label{
                    display: inline-block;
                    width: 10%;
                  }
                  input{
                    display: inline-block;
                    width: 25%;
                    line-height: 30px;
                    font-size: 1.2rem;
                    outline: none;
                  }
               }
            }
           }
         }
       }
}

#notice_pwidfd{
    width: 48%;
    display: inline-block;
    text-align: left;
   span{
     display: block;
     font-size: 0.8rem;
     color: #d5d5d5;
   }
   .boldspan_idpw{
     color: #bfbebe;
 }
}

// footer

#footer{

    max-width: 80%;
    margin: 0 auto;


    .up-section{
      width: 100%;
      text-align: center;

       &::after{
         content: "";
         display: block;
         clear: both;
       }

           span{
             color: #757575;
            text-align: left;
            display: block;
            font-size: 1rem;
            line-height: 1rem;
            margin: 50px 0 0 233px;
           }

      ul{
         float: left;
         width: 33%;
         margin-top: 10px;

          li{

            a{
              display: block;
              color: #757575;
              margin-top: 10px;
              font-size: 0.8rem;
              line-height: 0.9rem;
            }
          }
      }
    }

    .down-section{
      width: 72%;
      margin: 50px auto 0;
      padding-bottom: 20px;


      .copy-text-block{
        color: #757575;
        font-size: 0.8rem;
        line-height: 0.9rem;

        a{
          display: block;
          color: #757575;
          font-size: 0.8rem;
          line-height: 0.9rem;
        }
      }
    }
}

// services_page
#services_header{

  width: 100vw;
  height: 15rem;
  background: url('/img/section0202.jpg') 48% 52%;
  background-size: cover;
  background-repeat: no-repeat;


  &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(52, 52, 52, 0.55);

  }
}


#services_banner{
    text-align: center;

   h3{
     color: #fff;
     font-size: 2.5rem;
     display: inline-block;
     line-height: 4rem;
     position: relative;
     z-index: 2;
     padding-top: 80px;
   }
  }


 // FAQ
#services_section01{
  width: 100%;
  margin: 20px auto 0;
  border-bottom: solid 5px #f2b13838;

  h3{

    color: #f2b138;
    font-size: 2.5rem;
    text-align: center;
    line-height: 3.5rem;
    padding: 50px 0;
  }

  .faq_box{

    max-width: 65%;
    margin: 0 auto;
    background-color: #2a2828;

      .container_faq{

        dl{

          dt{

            color: #fff;
            font-size: 1.2rem;
            text-indent: 10px;
            padding: 2.5rem 0;
            display: block;
            cursor: pointer;
            text-indent: 50px;
            position: relative;

            span{
              display: inline-block;
              cursor: pointer;
              position: absolute;
              top: 40%;
              right: 3rem;

            }
          }
          dd{
            color: #dddcd9;
            cursor: pointer;
            display: none;
            width: 75%;
            margin: 0 auto;
            padding: 45px 0;

          }
        }
      }
    }
    .ruready{

      max-width: 75%;
      margin: 0 auto;

      .readyforwatch{
        display: block;
        text-align: center;
        font-size: 1.1rem;
        margin: 50px 0;
      }
      .put_email{

        margin-bottom: 50px;

        a{
          display: block;
          padding: 1rem;
          background-color: #f2b138;
          color: #fff;
          font-weight: bold;
          text-align: center;
          width: 5%;
          border-radius: 10px;
          margin: 0 auto;

          &:hover{
            opacity: 70%;
          }

        }
      }
    }
}
// 문의하기
#services_section02{
  width: 100%;
  margin: 0 auto;
  border-bottom: solid 5px #f2b13838;

   .contact_us_box{
     max-width: 65%;
     margin: 0 auto;

     h4{
       font-size: 2.5rem;
       margin: 50px 0;
       text-align: center;
     }

     .open24hrs{
       display: block;
       font-size: 0.8rem;
       color: #d5d5d5;
     }
     .customer_info_box{

       display: grid;
       grid-template-columns: repeat(2,1fr);
       grid-gap: 1.2rem;
       margin-bottom: 85px;

           .email_center{
             cursor: pointer;
           }

           .customercenter{

          text-align: center;
          padding: 3rem 0;
          border: solid 3px #d5d5d5;

         i{
           font-size: 5rem;
           margin-top: 30px;
         }
         .call_para{
               margin: 40px 0;

           .text__lg{
             display: block;
             color: #a39d9d;
           }
           .text_callnum{
             display: block;
             font-size: 1.3rem;

           }
         }
       }

     }
   }
}

// email_blank
#email_blank_box{

  width: 600px;
  height: 550px;

    .email_b_span{
      display: block;
      font-size: 2rem;
      text-align: center;
      line-height: 2.5rem;
      padding: 50px 0;
    }

   form{
     max-width: 80%;
     margin: 0 auto;
     position: relative;

     .col-lg-6{

       display: inline-block;
       vertical-align: middle;
       width: 48.5%;

       input{
         padding : 0.7rem 2.3rem;
         outline: none;
         border: none;
       }
       .form-lg-6{
         margin-left: 7px;
       }
     }

     .form-group{



       input{

         width: 98%;
         margin: 5px 0;
         padding: 0.7rem 0;

        }

       textarea{
         width: 98.4%;
         height: 180px;

       }
     }
     .text-center{

       button{
         background-color: #f2b138;
         text-align: center;
         line-height: 1.2rem;
         color: #fff;
         border-radius: 5px;
         padding: 0.5rem 1rem;
         outline: none;
         border : none;
       }
     }
   }
}


#contactForm {

  border: 3px solid #cecaca;
  padding: 2em;
  width: 500px;
  text-align: center;

     h3{
        font-size: 1.3rem;
        text-align: center;
        color: #f2f2f2;
     }
     small{
       font-size: 0.8rem;
       color: #929292;
     }

    form{
      input, textarea {
        margin: .8em auto;
        font-family: inherit;
        text-transform: inherit;
        font-size: inherit;

        display: block;
        width: 280px;
        padding: .4em;
      }
      textarea {
        height: 88px;
        resize: none;
      }

      .formBtn {
        width: 140px;
        display: inline-block;
        background: #d4a856;
        color: #fff;
        font-weight: 100;
        font-size: 0.9rem;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 3px;
      }
    }
}


// send_finished popup
.sent-message{

    position: absolute;
    width: 350px;
    height: 100px;
    background-color: #f5f5f5;
    top: 35%;
    left: 15%;
    z-index: 2;
    text-align: center;
    display: none;

  span{
    display: block;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.2rem;
    color: #151515;
    margin: 22px 0;
  }
  button{
    font-size: 0.9rem;
    text-align: center;
    line-height: 0.9rem;
    border: none;
    outline: none;
    background-color: #dedede;
    padding: 7px;
    border-radius: 3px;
    cursor: pointer;
  }
}

// intro
#intro_header{
    padding-top: 0;
}
#intro {

    height: 32rem;
    width: 100vw;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 10rem 13rem #000;
    background: url('/img/intro_banner.jpg ')60%;
    background-size: cover;
    background-repeat: no-repeat;

  .container_intro{

    width: 30%;
    margin: 130px auto 0;

      .intro-info{
        h2{

          font-size: 2.7rem;
          color: #fff;
        }

        .scrollto{

          border: 5px solid #f2b138;
          color: #fff;
          font-weight: 600;
          letter-spacing: 1px;
          display: inline-block;
          padding: 0.7rem 1.5rem;
          border-radius: 50px;
          transition: 0.5s;
          margin: 50px 35px 35px 0;
          box-sizing: border-box;

           &:hover {
             background-color: #f2b138;
           }
      }
    }
  }
}

#intro_about{

       width: 100%;
       border-bottom: solid 5px #f2b13838;

 .intro_box{

    max-width: 75%;
    margin: 0 auto;

  .aboutus{

          text-align: center;
          margin: 50px 0;

        h3{
          font-size: 2.5rem;
          margin-bottom: 2rem;
          line-height: 3.5rem;
        }

           .about_para{
            color: #5d5d5d;
           }
  }

  .aboutus_detail{

        display: flex;
        margin-bottom: 50px;

       .about_imgbox{

       width: 40%;

       img{
          display: block;
          width: 100%;

       }
     }
     .about_ulli{
            width: 60%;

       ul{

         li{
          margin-bottom: 20px;

           i{
             border-radius: 50px;
             width: 85px;
             height: 85px;
             background-color: #f2b138;
             color: #fff;
             font-size: 2rem;
             margin: 20px;
             vertical-align: middle;
             display: inline-block;
             text-align: center;
             line-height: 85px;
           }
           p{
             display: inline-block;
             vertical-align: middle;

             .textlg_contact{
               font-size: 1.3rem;
               color: #f2b138;
               display: block;
               font-weight: 600;
             }

           span{
             display: inline-block;
             color: #151515;
             text-align: left;
             margin: 0.5rem 0;
         }
        }
       }
     }
   }
  }
 }
}

// about about_location
#about_location{

  width: 100%;
  border-bottom: solid 5px #f2b13838;
  padding-bottom: 50px;

  .location_box{

     max-width: 75%;
     margin: 0 auto;
  .about_loca_box{

    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;

    .map-container{

          position: relative;
          height: 400px;
          margin: 50px 0 0 50px;

        iframe{

          left: 0%;
          top: 0%;
          height: 100%;
          width: 80%;
          position:absolute;

      }
    }
    .location_detail{

        text-align: center;

      h3{
        font-size: 2rem;
        margin-bottom: 2rem;
        line-height: 2.5rem;

      }
      span{
        color: #5d5d5d;
        line-height: 1.1rem;
      }
    }
  }
 }
}
// 제휴
#aboutcoop_info{
  width: 100%;
  border-bottom: solid 5px #f2b13838;
  padding-bottom: 50px;
  background-color: #f2b138;


  .ask_coop{
    max-width: 75%;
    margin: 0 auto;
    text-align: center;

    h3{
      font-family: 'Cafe24Danjunghae';
      font-size: 4.5rem;
      padding-top: 5rem;
      line-height: 5rem;
      color: #fff;
      animation: glow 1s ease-in-out infinite alternate;
      -webkit-animation: glow 1s ease-in-out infinite alternate;
      -moz-animation: glow 1s ease-in-out infinite alternate;
    }
    .under_part{
      display: block;
      color: #f5f5f5;
      font-size: 1.2rem;
      padding: 1rem 0;
    }
    .texmed{
      font-size: 1.2rem;
      color: #ffffff;
      display: block;
      padding-top: 3rem;
      margin: 0;
    }
    .text_email{
      color: #f1f1f1;
      cursor: pointer;
    }

  .coo_people_img{

    width: 50%;
    margin: 0 auto;

    img{
      width: 100%;
      display: block;
      border-radius: 135px;
    }

  }
  }
}
// cooperation
#about_cooperation{

  width: 100%;
  border-bottom: solid 5px #f2b13838;
  padding-bottom: 50px;

  .container_coo{

    margin: 0 auto;
    max-width: 75%;

    .coo-header{

      text-align: center;

      h3{

        font-size: 2rem;
        margin: 2rem 0;
        line-height: 3rem;
      }
    }

    .clients-wrap{

      border-top: 1px solid #c9c9c9;
      border-left: 1px solid #c9c9c9;
      margin-bottom: 30px;
      display: grid;
      box-sizing: border-box;
      transform: scale(0.9);
      grid-template-columns: repeat(4,2fr);

      .col-lg-3{
        position: relative;
        width: 100%;

        .client-logo{
          padding: 64px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-right: 1px solid #c9c9c9;
          border-bottom: 1px solid #c9c9c9;
          overflow: hidden;
          background: #fff;
          height: 160px;
          box-sizing: border-box;

          img{
            max-width: 50%;
            height: auto;
            vertical-align: middle;
            border-style: none;
          }

        }
      }
    }
  }
}

// conditons
#conditions_header{
  width: 100vw;
  height: 15rem;
  background: url('/img/banner/conditions_ban.jpg') 48% 52%;
  background-size: cover;
  background-repeat: no-repeat;

      &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba( 5, 5, 5, 0.5);
  }
}
#condition01{

  width: 75%;
  margin: 50px auto;

  .condi_box{

    .condi_ul{

      li{

        margin: 100px 0;

        .condi_libox{

          h2{

            font-size: 2rem;
            margin: 2rem 0;
            line-height: 2.5rem;
            color: #443c3c;
            text-align: center;
          }

          .little_box_conditions{
            display: block;
            width: 15%;
            background-color: #c5c5c5;
            color: #fff;
            text-align: center;
            border-radius: 10px 10px 0 0;
            padding: 0.3rem;

          }
        .condition01_detail{

          background-color: #faf8f5;
          padding: 3rem;


          p{
            color: #282828;
            margin: 30px 0;
            line-height: 1.8rem;
          }
          .title_of_codition{
            display: block;
            font-size: 1.1rem;
            line-height: 1.5rem;
            color: #000;
            font-weight: bold;
            margin: 10px 0;
          }
          .spansm{
            font-size: 1rem;
            text-align: center;
          }
        }
       }
      }
    }
  }
}

// my_page accoun

#account_header{

  width: 100vw;
  height: 11rem;
  background: url('/img/banner/paper.jpg') 48% 52%;
  background-size: cover;
  background-repeat: no-repeat;

        &:after{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          background: rgba(0, 0, 0, 0.3);
        }
       h3{
         display: block;
          text-align: center;
          color: #fff;
          position: relative;
          z-index: 3;
          font-size: 2rem;
          line-height: 2.3rem;
          margin-top: 55px;
 }
}

#account_section01{

   width: 100%;

.detail_info_account{

        max-width: 65%;
        margin: 0 auto;

   h1{
        font-size: 2rem;
        font-weight: 600;
        padding: 2rem 0;
        text-align: center;
        line-height: 2.3rem;
      }

  .container_account{

      box-sizing: border-box;
      border-bottom: solid 1px #c0c0c0;
      border-top: solid 1px #c0c0c0;

    #account_bttm_box{
      border-bottom: solid 2px #f2b138;
    }
    .container_account_box{

       border-bottom: solid 1px #f2b13838;

      .account_title{

        display: inline-block;
        vertical-align: top;
        width: 30%;
        margin: 30px 0;

        h3{
          color: #968d7d;
          font-size: 1.35rem;
          line-height: 2rem;
        }
      }
    }

    .account_middle_info{

      display: inline-block;
      vertical-align: top;
      width: 58%;
      margin: 30px 0;

      .text_bold{

        display: block;
        font-weight: 600;
        line-height: 35px;
        color: #676767;
      }
      .text_span{

        display: block;
        color: #949292;
        line-height: 30px;
      }
      #span_pw{
        display: inline-block;
        vertical-align: middle;
      }
      .input_span_pw{
        display: inline-block;
        vertical-align: middle;
        width: 25%;
        text-indent: 5px;
        line-height: 1.2rem;
        outline: none;
        margin-left: 0.5em;
        font-size: 0.7rem;
      }
      #plan_select{
        font-size: 0.9rem;
      }
    }

    .account_btn_edit{

      display: inline-block;
      vertical-align: top;
      width: 10%;

      .plan_btn{
        margin-top: 3.5em;
      }
    }
  }
 }
 .backtomain{

     width: 10%;
     margin: 50px auto;
     text-align: center;

   a{
     display: block;
     background-color: #e7e5e5;
     color: #484848;
     padding: 1rem;
     border-radius: 50px;

     &:hover{
       opacity: 50%;
     }
   }
 }

}
// watch list
#watched_box{

    h3{
      color: #968d7d;
      font-size: 1.35rem;
      line-height: 5rem;
      border-bottom: solid 2px #f2b138;
    }
    .watched_list{

      ul{
        li{

          border-bottom: solid 1px #f2b13838;

          input{
            margin-left: 10px;
          }

          label{
            font-size: 0.8rem;
            color: #737272;
            line-height: 30px;
          }

          .watched_imgbox{

            width: 60px;
            display: inline-block;
            vertical-align: middle;
            height: 60px;
            overflow: hidden;
            margin: 15px 30px;

            img{
              display: block;
              width: 100%;
            }
          }
        .watched_detail{

          display: inline-block;
          vertical-align: middle;
          width: 68%;

          .text_md{

            display: inline-block;
            color: #636161;
            line-height: 2rem;

          }
        }
        #select_delete_box{
          width: 90%;
          #select_delete_btn{
            text-align: right;
          }
        }
        .watch_list_btn{
          display: inline-block;
          vertical-align: middle;
          width: 13%;

          .account_btn{
            text-align: center;
            line-height: 2rem;
            outline: none;
            border: none;
            width: 100%;
            cursor: pointer;
            background-color: #fff0;

            &:hover{
              color: #d5d5d5;
            }
          }
        }

      &:last-child{
        border-bottom: none;
       }
      }
    }
  }
}

//event_page
#event_header{

  position: relative;
  height: 600px;
  overflow: hidden;

#fadebox_event{

   color:#f2f2f2;
   text-transform: uppercase;
   font-size: 4rem;
   font-weight: bold;
   padding-top: 200px;
   width: 100%;
   text-align: center;
   font-family: 'Cafe24Danjunghae';
   letter-spacing: 5px;

   .event_text_ani{

     height: 6rem;
     overflow: hidden;
     position: relative;
     z-index: 2;

     .event_in_01{

       &:first-child{
         animation: show 5s linear infinite;
       }
       &:nth-child(odd) .event_in_02{
         background-color: #1678e8;
       }

       &:nth-child(even) .event_in_02{
         background-color: #DC143C;
       }

       .event_in_02{

          color:#fff;
          padding:4px 12px;
          height:45px;
          margin-bottom:45px;
          display:inline-block;
       }
     }
   }


   .img_ul_fade{
     li{
      position: absolute;
      width: 100%;
      top: -20%;
      left: 0;
      display: none;

      &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba( 5, 5, 5, 0.5);
        }

       img{
         display: block;
         width: 100%;
      }
     }
   }
 }
}

//evnet section

#event_section{

      max-width: 80%;
      margin: 0 auto;

  .section_box_event{

    .sec_event_sub{
       text-align: center;

      .text-xl{
        line-height: 70px;
        color: #444141;
        margin: 5rem 0;
      }

      .text-lg{
        font-family: 'Cafe24Danjunghae';
        color: #f2b138;
      }
    }
  }
  .sec_event_details{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #f3f3f3;
    grid-gap: 15px;
    border-radius: 5px;
    margin: 80px 0 30px;

    .sec_event_img{

      width: 90%;
      margin: 30px auto;

      img{
        display: block;
        width: 100%;
      }
    }
    .event_img_info{

      width: 80%;
      margin: 100px auto;

      .text-sm{
        color: #151515;
        line-height: 35px;
        margin: 0;
        padding: 0;
      }
    }
  }
  .text-xsm{
    color: #656565;
    width: 100%;
    margin-bottom: 30px;
  }
}

//event section02

#event_apply_sec{

  width: 100%;
  background-color: #f2b13838;
  padding: 2rem 0;

  .event_how_to_apply{

    max-width: 70%;
    margin: 0 auto;

    .event_h3{
      width: 8%;
    }
    .apply_step{

      display: grid;
     grid-template-columns: repeat(5,1fr);

      .apply_round_box{

        width: 300px;
        height: 300px;
        border-radius: 150px;
        background-color: #f2b138;
        margin: 50px 0;

        i{
          color: #fff;
          font-size: 6rem;
          width: 100%;
          text-align: center;
          margin-top: 40px;
        }
        .round_span{
          text-align: center;
          .text-xl{
            color: #585555;
            margin-top: 15px;
            font-weight: 600;
          }
          .text-xsm{
            color: #fff;
            width: 100%;
          }
        }
      }
      .fa-arrow-circle-right{
        color: #8b8b8b;
        font-size: 1.5rem;
        height: auto;
        justify-content: center;
        align-items: center;
        display: flex;
      }
    }
    .event_important{

      width: 80%;
      margin: 10px auto;
      text-align: center;

      .text-sm{
        background-color: #d5d5d5;
        color: #3e3e3e;
        border-radius: 50px;
      }
    }
    .hash_tag_event{
      width: 60%;
      margin: 0 auto;
      display: block;
      text-align: center;
      color: #151515;
      font-size: 1.3rem;
      line-height: 30px;
    }
  }
}
.event_important_tag{
    display: flex;
    width: 60%;
    margin: 10px auto;
    text-align: center;

  .text-sm{
    color: #383838;
    margin: 0;
    padding: 5px;
  }
  ul{
    display: flex;
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;

    li{
      background-color: #fcfcfc;
      border-radius : 50px;
      color: #383838;
      margin: 0;
      padding: 5px;
    }
  }
}

//체험단 안내
.event_h3{
  color: #564e4e;
  font-size: 1.8rem;
  border-bottom: solid 5px #564e4e;
  margin: 0 auto;
}

#event_notice{

  width: 100%;
  padding: 2rem 0;

  .event_result{

    max-width: 80%;
    margin: 0 auto;

    .event_h3{
      width: 10%;
    }

    .notice_01{
      width: 60%;
      margin: 0 auto;
      padding: 2rem;
      text-align: center;

      dt{
        font-size: 1.3rem;
        font-weight: 600;
        display: inline-block;
        vertical-align: middle;
        width: 30%;
        color: #666464;
      }
      dd{
        display: inline-block;
        vertical-align: middle;
        width: 65%;
        border-bottom: solid 1px #dadada;
        margin-top: 10px;

        ul{
          li{
            display: block;
            color: #888788;
            text-align: left;
          }
          .last_li_border{
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
//event apply form

#event_apply_form{
  width: 100%;
  background-color: #dadada38;
  padding: 2rem 0;

  .apply_form_event{

    max-width: 80%;
    margin: 0 auto;

      .event_h3{
        width: 13%;
      }

    form{
      width: 50%;
      margin: 2rem auto;
      padding: 2rem;
      box-sizing: border-box;
      border: solid 2px #e3e3e3;
      background-color: #fff;

      .event_form{

        .event_form_detail{
          text-align: center;
          margin: 0 auto;

          th{
            height: auto;
            padding: 10px 0 10px 18px;
            border-bottom: 1px solid #f0f0f0;
            background: #fafafa;
            color: #403d3d;
            font-size: 14px;
            line-height: 25px;
            letter-spacing: -0.5px;
            width: 20%;
          }

          input ,select{
            width: 80%;
            height: 40px;
            margin: 0;
            padding: 0 10px;
            border: 1px solid #e6e6e6;
            font-size: 13px;
            line-height: 40px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            outline: none;
          }
          #mobile1 ,#mobile2, #mobile3{
            width: 25%;
          }
          input[type="radio"]{
            width: 15px !important;
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
          }
          label{
            font-size: 14px;
            color: #787878;
            display: inline-block;
            vertical-align: middle;
            text-indent: 5px;
            cursor: pointer;
          }
          textarea{
            width: 80%;
            outline: none;
          }
        }
      }
    }
    .form_send_btn{
      text-align: center;
      margin-top: 30px;

      .event_apply_btn{
        border: 0;
        outline: 0;
        padding: 1rem;
        border-radius: 50px;
        color: #fff;
        background-color: #f2b138;
        font-weight: 600;
        cursor: pointer;

        &:hover{
          opacity: 50%;
        }
      }
    }
  }
}

//plan_check header

#plan_header{
  border-bottom: solid 1px #f6f6f6;
  min-height: 45px;
  }

//plan_check section width

.com_sec_width{
  width: 100%;
  padding: 2rem 0;

  .max_width_div{
    max-width: 70%;
    margin: 0 auto;
  }
}

//plan_check first section
#plan_sec01{
   .plan_sec01_title{
     h3{
       color: #4e4d4a;
       font-size: 1.8rem;
       margin: 10px 0;
     }
     .plan_explain{
       .text_normal{
         display: block;
         color: #888878;
         i{
           color: #56c71c;
           margin-right: 10px;
         }
       }
     }
   }
}

//plan_check second section
#plan_sec02{
  margin: 2rem 0 3rem;
}
.plan_table_form{
  width: 80%;
  margin: 0 auto;
  .plan_table_div{
    .table_plan{
      border-spacing: 10px;
      border-collapse : initial;

      .plan_check_thead{

        .plan_tr{

          .plan_th{

            background-color: #f2b138;
            color: #fff;
            line-height: 60px;
            font-size: 1.2rem;
            border-radius: 5px;
          }
        }
      }
      .plan_check_tbody{
        tr{
          background-color: #fff;

          td{
            border-bottom: solid 1px #f7f5f5;

            &:first-child{
              background-color: #f7f7f7;
              border-radius: 3px;
              color: #9a9a9a;
            }
          }
        }
      }
    }
  }
}

//plan_span
#plan_info_span{

    padding: 0 16px;
    color: #cacaca;
    font-size: 13px;
    display: block;
    max-width: 55%;
    margin: 0 auto;
    text-align: center;

  a{
    display: inline-block;
    color: #615d5d;
  }
}
