
<footer id="footer">
  <div class="up-section">
    <span class="customer-call">고객센터 0010-7358-1680</span>

    <ul>
      <li><a href="/help/intro.html">회사소개</a></li>
      <li><a href="/help/intro.html#about_location">회사위치</a></li>
      <li><a href="/help/intro.html#aboutcoop_info">제휴안내</a></li>
      <li><a href="/help/intro.html#about_cooperation">협력업체</a></li>
    </ul>
    <ul>
      <li><a href="/help/conditions.html">이용약관</a></li>
      <li><a href="/help/conditions.html#privacy">개인정보처리방침</a></li>
      <li><a href="/help/conditions.html#notice_bylow">법적고지</a></li>
    </ul>
    <ul>
      <li><a href="/sub/my_account.html">계정관리</a></li>
      <li><a href="/help/services.html#services_section01">자주하는질문</a></li>
      <li><a href="/help/services.html#services_section02">문의하기</a></li>
    </ul>
  </div>
  <div class="down-section">
    <div class="copy-text-block">
      케이라이브서비스코리아 케이회사 통신판매업신고번호 : 제2020-인천부평구-1211호<br>
       전화번호 : 010-7358-1680
    </div>
    <div class="copy-text-block">
     대표 : 최소연
    </div>
    <div class="copy-text-block">
     이메일 : soyselena90@naver.com
    </div>
    <div class="copy-text-block">
     주소 : 인천광역시 부평구 부평6동 402-7
    </div>
    <div class="copy-text-block">
     클라우드 호스팅 : Amazon Web Services Inc.
    </div>
    <div class="copy-text-block">
    <a href="http://www.ftc.go.kr/www/bizCommView.do?key=232&amp;apv_perm_no=2018300016930200431&amp;pageUnit=10&amp;searchCnd=bup_nm&amp;searchKrwd=%EB%84%B7%ED%94%8C%EB%A6%AD%EC%8A%A4&amp;pageIndex=1">공정거래위원회 웹사이트 링크</a>
    </div>
  </div>
</footer>
</body>
</html>
